doctype html
html(lang=config.language)
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        != css("/css/style", "css/index")
    body
        // title
        .index-container
            .index-title-box
                .index-title
                    h1= config.title
                    if config.subtitle
                        span= config.subtitle
                a(href=config.pavilion['author-link'] || '').index-author @
                    |
                    span= config.author
                .index-bubble
                    a(href= url_for('/about'))= __('menu.about')
            // entries
            .index-entries
                .category-entry
                    h2.entry-title
                        a(href= url_for('/categories/anime'))= __('menu.anime')

                .entry-seperator

                .category-entry
                    h2.entry-title
                        a(href= url_for('/categories/book'))= __('menu.books')

                .entry-seperator

                .category-entry
                    h2.entry-title
                        a(href= url_for('/categories/comic'))= __('menu.comics')

                .entry-seperator

                .category-entry
                    h2.entry-title
                        a(href= url_for('/categories/music'))= __('menu.music')
