header.header
    // brand?
    .header-brand
        a(href='/')= config.title
    // menu links
    ul.header-menu
        li.menu-item(data-stressed= page.category == 'anime')
            a(href='/categories/anime')= __('menu.anime')
        li.menu-item(data-stressed= page.category == 'comic')
            a(href='/categories/comic')= __('menu.comics')
        li.menu-item(data-stressed= page.category == 'book')
            a(href='/categories/book')= __('menu.books')
        li.menu-item(data-stressed= page.category == 'music')
            a(href='/categories/music')= __('menu.music')
    // about page
    .header-link
        a(href='/about')= __('menu.about')
